{% extends 'base.html '%}

{% block tablaA %}
<head>
<title>Tabla de administradores</title>
</head>

<body>
<div class="d- justify-content-center">
    <div class="text-center">
<table border="1" width="50%" bgcolor="white">
<thead bgcolor="aqua">
<tr>
<th>Nombre</th>
<th>Edad</th>
</tr>
</thead>

<tbody align="center">
<tr>
<td>Jose Perez</td>
<td>40</td>
</tr>

<tr>
<td>Raul Miranda</td>
<td>37</td>
</tr>

<tr>
<td>arnold Fuentes</td>
<td>55</td>
</tr>
</tbody>

</table>
</body>
{% endblock %}

{% block home %}
<h1><a href="{% url 'home:indexapp' %}" >Home</a></h1> 
{% endblock %}