{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>

{% block comentario %}
    <h1>Crear Comentario</h1>
    <form method="POST">
        {% csrf_token %}
        Comentario {{ form.Comentario }}
        EstudiantesComunes {{ form.EstudiantesComunes }}
        <input type="submit" name="GUARDAR">
    </form>
{% endblock %} 

{% block home %}
    <h1><a href="{% url 'home:indexapp' %}" >Home</a></h1> 
{% endblock %}
</body>
</html>