<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
</head>
<body>
    <h1>Pagina principal de la app</h1>
    <a href="{% url 'home:Inicioapp' %}">Inicio</a>
</body>
</html>