{% extends 'base.html' %}

{% block contenido %}
    <h1 class="text-white">Home</h1>
    <a href="{% url 'home:inicioapp' %}">Inicio</a>
	<a href="{% url 'home:estudiantesapp' %}">Estudiantes</a>
	<a href="{% url 'home:administradoresapp' %}">Administradores</a>
    <a href="{% url 'home:crearapp' %}">Crear Comentario</a>
    <a href="{% url 'home:agregarapp' %}">Agregar Estudiante</a>
{% endblock %} 
