{% extends 'base.html' %}

{% block contenido %}
<h1 class="text-white mx-auto mt-2 mb-5">Inicio</h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">Esta es la actividad dos del curso de desarrollo web de la carrera de Ingenieria en Sitemnas 
    de la Universidad Mariano Galvez del Octavo Semestre </h2>
    <a href="{% url 'home:indexapp' %}">Home</a>

    {% endblock %}